server:
  port: ${PORT:8081}
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always

  app:
    ai:
      model: gemini-3-flash-preview

spring:
  application:
    name: backend

  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/ginger}
    username: ${DB_USER:ginger_user}
    password: ${DB_PASS:ginger_pass}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never
